body {
    background-color: ivory;
}

.card {
    background-color: ivory;
}

#map {
    height: 400px;
    width: 100%;
}

.map-overlay {
    position: absolute;
    left: 0;
    padding: 10px;
}